<!--suppress XmlUnboundNsPrefix -->
<f:layout name="Default"/>
<f:section name="Header"></f:section>
<f:section name="Main">
    <div class="row cprow">
 
 
 
 <f:debug>{data.layout}</f:debug>
 
  <f:if condition="{data.layout}==9">
 			<div class="col-md-1">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-11">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div> 
  </f:if>
  
  <f:if condition="{data.layout}==10">
			<div class="col-md-10">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-2">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>  
  </f:if>
  
  <f:if condition="{data.layout}==11">
			<div class="col-md-9">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-3">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>  
  </f:if> 

  <f:if condition="{data.layout}==12">
			<div class="col-md-8">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-4">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>  
  </f:if> 

  <f:if condition="{data.layout}==13">
			<div class="col-md-4">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-8">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>  
  </f:if>  
  
    <f:if condition="{data.layout}==14">
			<div class="col-md-3">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-9">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>  
  </f:if>  
  
    <f:if condition="{data.layout}==15">
			<div class="col-md-2">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-10">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>  
  </f:if>  

  <f:if condition="{data.layout}==16">
        	<div class="col-md-6">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
       		</div>
       		<div class="col-md-6">
        		<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
  </f:if>  
 

    
    
    

    </div>

</f:section>



        <div class="col-md-6">
       <h1>in bootstrap_override</h1>
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </div>
        <div class="col-md-6">
            <f:render partial="Header/All" arguments="{_all}" />
            <f:format.html>{data.bodytext}</f:format.html>
        </div>



	Switch does not work with integers in 8.7
    <f:switch expression="{data.layout}">
        <f:case value="09">
			<div class="col-md-1">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-11">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
    	</f:case>
        <f:case value="10">
			<div class="col-md-10">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-2">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
    	</f:case>
        <f:case value="11">
			<div class="col-md-9">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-3">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
    	</f:case>
        <f:case value="12">
			<div class="col-md-8">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-4">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
    	</f:case>
    	<f:case value="13">
			<div class="col-md-4">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-8">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
    	</f:case>
    	<f:case value="14">
			<div class="col-md-3">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-9">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
    	</f:case>
    	<f:case value="15">
			<div class="col-md-2">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
        	</div>
       		<div class="col-md-10">
            	<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
    	</f:case>
    	 <f:case value="16">
        	<div class="col-md-6">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
       		</div>
       		<div class="col-md-6">
        		<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
        </f:case>
    	


        <f:defaultCase>
        	<div class="col-md-6">
            	<f:render partial="Media/Gallery" arguments="{_all}" />
       		</div>
       		<div class="col-md-6">
        		<f:render partial="Header/All" arguments="{_all}" />
            	<f:format.html>{data.bodytext}</f:format.html>
        	</div>
         </f:defaultCase>
    </f:switch>
